django==4.2.13
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
django-cors-headers==4.7.0
mysqlclient==2.2.7
pillow==11.2.1
python-dotenv==1.0.1
cryptography
channels==4.0.0
channels-redis==4.2.0
# Push notification dependencies
requests>=2.25.1
pyapns2>=0.7.2